@import "tailwindcss";

:root {
  --background: #FFFBED;
  --primary: #D9C90F;
  --secondary: #2B3380;
  --light: #656565;
  --dark:#131313;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-dark: var(--dark);
  --color-light: var(--light);
}

body {
  font: var(--font-barlow), sans-serif;
}

.font-gilda {
  font-family: var(--font-gilda-display), serif;
}