@layer utilities {
  a,
  button {
    cursor: pointer;
  }
  .demo {
    .swiper {
      pointer-events: none;
    }
    .swiper-wrapper {
      transition-timing-function: linear !important;
    }
  }

  .box-shadow {
    box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
  }

  // container sizes

  .max_screen_width {
    max-width: 1600px;
    width: 100%;
    margin-inline: auto;
  }

  // container sizes for xl, lg, md, sm screens

  .max_width {
    max-width: 100%;
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    @media (min-width: 768px) {
      max-width: 720px;
      padding-inline: 1rem;
    }
    @media (min-width: 992px) {
      max-width: 960px;
      padding-inline: 1rem;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
      padding-inline: 1rem;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
      padding-inline: 0;
    }
  }
}

.accommodation-pagination {
  position: absolute !important;
  bottom: 4px !important;
  left: 65% !important;
  width: fit-content !important;
  z-index: 999;
  .swiper-pagination-bullet {
    width: 10px;
    height: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    z-index: 9999;
    pointer-events: auto;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;

    .bullet-label {
      font-size: 1.5rem;
      color: var(--color-primary);
      pointer-events: none; // ✅ text won’t block click
    }

    &.swiper-pagination-bullet-active {
      color: var(--color-primary);
      scale: 1.05;
      opacity: 1;
    }
  }
}

.pagination {
  .swiper-pagination-bullet {
    background: #ffffff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  .swiper-pagination-bullet-active {
    background: #ffffff;
  }
}

input {
  @media (width < 768px) {
    padding: 0.8rem !important;
  }
}
.testimonial,
.about-bg {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
  }
}

.about-bg {
  &::before {
    top: -21%;
    right: 0;
    width: 89px;
    height: 101.86px;
    background-image: url("/about-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    @media (width < 768) {
      top: -20%;
      width: 60px;
      height: 74.86px;
    }
  }
}
.testimonial {
  &::before {
    top: -12.5%;
    left: 0;
    width: 89px;
    height: 101.86px;
    background-image: url("/about-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    @media (width < 768) {
      top: -6.5%;
      width: 60px;
      height: 74.86px;
    }
  }
}
